  <h1>Show detail</h1>  
  <p>Title: {{ this.title }}</p>
  <p>Year: {{ this.year }}</p>
  <p>Description: {{ this.description }}</p>
  <img width="200px" src="{{this.image}}" alt="{{this.title}}" />
  <p>Cast: {{ this.cast }}</p>
  <p>Director: {{ this.director }}</p>